* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 600px;
  margin: auto;
}
.Player {
  background: #2a2141;
  padding: 2rem;
}

.gap-2{
gap: 2rem;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}
