* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

main {
  padding-block: 10rem;
  margin: auto;
  justify-content: center;
}

.pp,
.ps,
.pt {
  background: #2a2141;
  border-radius: 10px;
}

.pp{
  padding: 38px;
}

.ps,.pt{
  padding: 29px;
}

.ps .pp-album img,.pt .pt-album img{
  width: 84px;
  height: 84px;
}

.gap-2 {
  gap: 2rem;
}

.gap29 {
  gap: 29px;
}

.ai-center{
  align-items: center;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.name-music {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nameBand {
  color: #9b9b9b;
  font-size: 19px;
}

.play {
  display: flex;
  justify-content: space-around;
}

.barra-player {
  width: 100%;
  height: 5px;
  background: #8f8f8f;
  position: relative;
  border-radius: 10px;
}

.barra-player-up {
  width: 80%;
  height: 5px;
  background: white;
  border-radius: 10px;
  position: absolute;
}

.time-music {
  justify-content: space-between;
  padding-block: 0.5rem;
  color: #8f8f8f;
}
