* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  padding-block: 10rem;
  width: 600px;
  margin: auto;
}
.Player {
  background: #2a2141;
  padding: 2rem;
}

.gap-2{
gap: 2rem;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.name-music,.nameBand {
  font-family: 'Roboto', serif;
  
}

.name-music {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.nameBand{
  color: #9b9b9b;
  font-size: 19px;
}

.play{
  display: flex;
  justify-content: space-around;
  padding-block: .5rem;
}

.barra-player{
  width: 100%;
  height: 5px;
  background: white;
  position: relative;
  border-radius: 10px;
}

.barra-player-up{
   width: 80%;
  height: 5px;
  background: rgb(143, 143, 143);
  border-radius: 10px;
  position: absolute;

}

.time-music{
  justify-content: space-between;
  padding-block: .5rem;
}